extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-5
    .row
      .col-12
        +box-head(pageTitle)

    // Danh sách tour đặt
    .row
      .col-12
        .card.shadow-sm.border-0
          .card-body
            h4.text-primary.mb-3 🛫 Danh sách tour đã đặt
            .table-responsive
              table.table.table-striped.table-hover.text-center.shadow-sm
                thead.table-dark.text-white
                  tr
                    th Ảnh
                    th Tên tour
                    th Giá gốc
                    th Giá KM
                    th Số lượng
                    th Tổng tiền
                    th Hành Động
                tbody(list-tour)

    // Hiển thị tổng tiền
    .row.mt-4
      .col-12.text-end
        h4.total-price-h4 Tổng tiền: 
          span.total-price 0 đ

  // Form đặt tour 
  .row.justify-content-center.mt-5
    .col-md-8
      .card.shadow-lg.p-4.rounded-3.h-100
        .card-body.d-flex.flex-column
          +box-head("Thông tin khách hàng")
          form(form-order).flex-grow-1
            .row.mb-3
              .col-md-6
                label.fw-bold(for="fullName") Họ tên
                input(
                  type="text"
                  class="form-control"
                  id="fullName"
                  name="fullName"
                  placeholder="Nhập họ tên"
                  required
                )
              .col-md-6
                label.fw-bold(for="phone") Số điện thoại
                input(
                  type="text"
                  class="form-control"
                  id="phone"
                  name="phone"
                  placeholder="Nhập số điện thoại"
                  required
                )
            .mb-3
              label.fw-bold(for="note") Ghi chú
              textarea(
                class="form-control"
                id="note"
                name="note"
                rows="3"
                placeholder="Nhập ghi chú (nếu có)"
              )

            button(
              type="submit"
              class="btn btn-lg btn-success w-100 mt-3"
            ) 
              i(class="bi bi-check-circle") 
              | Xác nhận đặt tour

block script
  script(src="/js/cart.js")
