extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block css
  link(rel="stylesheet", href="/css/dashboard.css")

block main
  .container-fluid.p-0
    // Hero Section
    .hero-section(style=`background-image: url('${category[3].image}');`)
      .hero-overlay
        .container.text-center
          h1.travel-title Khám phá thế giới cùng chúng tôi!
          p.travel-subtitle Chọn hành trình lý tưởng và tận hưởng chuyến đi hoàn hảo.
          a.btn.btn-primary(href="/tours") Đặt ngay

  .container.category-container.my-4
    .row
      .col-12
        h2 #{category.header}
        p #{category.description}
    .row
      .col-12
        div(class="swiper mySwiperDashboard")
          div(class="swiper-wrapper")
            each item in category
              div(class="swiper-slide")
                a(href=`${item.link}`, target="_blank", style="text-decoration: none; color: inherit;")
                  img(src=`${item.image}`, alt=`${item.title}`)
                  div.category-info
                      h3=item.title

  .container.img-container.my-4
    .row
      .col-12
        div(style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff", class="swiper mySwiperDashboardInfo")
          div(class="parallax-bg", style=`background-image: url('${category[9].image}');`, data-swiper-parallax="-23%")
          div(class="swiper-wrapper")
            each item in dataPoster
              div(class="swiper-slide")
                  div(class="title" data-swiper-parallax="-300") #{item.title}
                  div(class="text" data-swiper-parallax="-100")
                    p #{item.description}

          div(class="swiper-button-next")
          div(class="swiper-button-prev")
          div(class="swiper-pagination")


  .container.tour-container.my-4
    .row
      .col-12
        h2 #{category.header}
        p #{category.description}

    .row
      .col-12 
          div(class="swiper mySwiperTourInfo")
            div(class="swiper-wrapper")  
              each item in slidesData
                div(class="swiper-slide") 
                  a(href=`${item.link}`, target="_blank", style="text-decoration: none; color: inherit;")
                    img(src=`${item.image}`)
                    h3 #{item.title}

            div(class="swiper-pagination")
            div(class="swiper-button-next") 
            div(class="swiper-button-prev")
